/*  단일 선택자
    - 전체: * {}
    - 태그: 태그명 {}
    - 클래스: .클래스명 {}
    - 아이디: #아이디명 {}
 */

 /* * {
    color: blue;
 }

 li {
    color: brown;
 }

 .orange {
    color: rgb(251, 149, 16);
 }

 div 태그이자 orange 클래스인: 당근
 div.orange {
    color: rgb(186, 129, 23);
 }

 #orange {
    color: aquamarine;
 } */



 /* 
    여러 선택자를 동시에 지정
    -, 를 이용해 여러 선택자에 동시 스타일 지정
 */

/* ul,
p,
.orange {
    color: green;
} */



/*
    복합 형제 선택자
    - 하위: A B
    - 자식: A > B
    - 인접형제: A + B
    - 일반형제: A ~ B
*/
/* 하위 선택자 */
body .orange {
    color: orange;
}

/* 자식 선택자 */
ul > .orange {
    color: red;
}

/* 
    인접 형제 선택자
    A + B
    조건1. A, B 같은 레벨
    조건2. B가 A의 바로! 뒤에
*/
ul + .orange {
    color: green;
}
/* 바로 뒤에 있지 않기 때문에 적용 x */
ul + span.orange {
    color: green;
}

/*
    일반 형제 선택자
    A ~ B
    조건1. A, B 같은 레벨
    조건2. B는 A보다 뒤에 위치
*/

div.orange ~ span {
    color: royalblue;
}
/* 뒤에 있지 않기 때문에 적용 x*/
div.orange ~ ul {
    color: royalblue;
}



/* 
    가상선택자 
    - E:hover는 E 요소에 마우스가 올라가 있는 동안
    - E:active는 E 요소에 마우스로 클릭해 있는 동안
    - E:visited는 E 요소가 링크일 때, 한 번 클릭해서 링크를 접속한 이력이 있을 떄
*/

#google:hover {
    font-weight: 700;
    color: orangered;
}

#naver:active {
    font-weight: 700;
    color: palevioletred;
}

#daum:visited {
    color: grey;
}

.fruits span:first-child {
    color: red;
}
/* p태그가 .fruits의 첫번째 자식이 아니므로 적용x */
/* .fruits p:first-child {
    color: red;
} */

.fruits h3:last-child {
    color: red;
}

/* 괄호 안에 수식을 사용해서 여러 개 사용 가능 ex. 2n-1, 3n */
.fruits *:nth-child(2) {
    color: greenyellow;
}

.fruits *:not(span) {
    color: blue;
}
/* 
.numbers span:nth-child(odd) {
    color: green;
}

.numbers span:nth-child(even) {
    color: orange;
} */
/* 4와 7에만 파란색상이 되도록 만들기 */
.numbers span:nth-child(3n + 4){
    color: blue;
}



/* CSS 우선순위 */

/* 전체 선택자 */
.test * {
    color: grey;
}
/* 태그 선택자 > 전체 선택자 */
/* !important > 모든 선택자 */
.test span {
    color : blue !important;
}
/* 클래스 선택자 > 태그 선택자 > 전체 선택자 */
.test .num {
    color: green;
}
/* 아이디 선택자 > 클래스 선택자 > 태그 선택자 > 전체 선택자 */
.test #two {
    color: purple;
}

