* {
  margin: 0;
}

.Header {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .menu-item {
    margin: 0 8px;
  }
}

.MainPage {
  background-color: rgb(188, 188, 255);
  min-height: 100vh;

  &.Dark {
    background-color: #333;
    color: white;
  }
}

.ProductPage {
  background-color: rgb(173, 226, 239);
  min-height: 100vh;

  .ProductItem {
    text-decoration: none;
    color: black;

    ul {
      margin: 30px auto 0 auto;
      width: 80vw;
      background-color: white;
    }

    &:hover {
      font-weight: 700;
    }
  }
}

.ProductDetailPage {
  background-color: rgb(189, 207, 207);
  min-height: 100vh;
}

.NotFound {
  background-color: rgb(255, 204, 200);
  min-height: 100vh;
}
